# Exotel
EXOTEL_API_KEY=PASTE_YOUR_API_KEY_HERE
EXOTEL_API_TOKEN=PASTE_YOUR_API_TOKEN_HERE
EXOTEL_ACCOUNT_SID=teleglobals2
EXOTEL_SUBDOMAIN=api.in.exotel.com
EXOTEL_CALLER_ID=02048565101
EXOTEL_APP_ID=1306422

# Sarvam AI (TTS + STT)
SARVAM_API_KEY=PASTE_YOUR_SARVAM_KEY_HERE
SARVAM_TTS_URL=https://api.sarvam.ai/text-to-speech

# AWS
AWS_REGION=us-east-1
DYNAMODB_SESSION_TABLE=multi-tenant-sessions

# LLM (AWS Bedrock - uses IAM role on EC2)
BEDROCK_MODEL_ID=us.anthropic.claude-sonnet-4-6
LLM_FALLBACK_TEMPERATURE=0.7
LLM_MAX_TOKENS=500

# App
APP_HOST=0.0.0.0
APP_PORT=8001
BASE_URL=http://54.226.42.14:8001

# POC Networking
PUBLIC_WSS_URL=wss://underwent-mothball-abreast.ngrok-free.dev

# Exotel audio config
EXOTEL_SAMPLE_RATE=8000

# VAD Tuning
SILENCE_THRESHOLD_MS=250
